<h1>Characters</h1>

<% if (chars && chars.length){ %>
<h2>Your Characters</h2>

<table>
    <tr>
        <th>Name</th>
    </tr>
    <% chars.forEach(function(char){ %>
    <tr>
        <td><%- char.name %></td>
        <td><a href="/characters/<%- char._id %>" class="button">Show</a></td>
    </tr>
    <% }) %>
</table>
<% } %>

<% if (session_member){ %>

<a href="/characters/0/add" class="button">Create a Character</a>

<% } else { %>

<a href="/join">Sign Up</a> to create your own character!</a>
<% } %>