<h1>Welcome to Arena Colles!</h1>

<table class="layout">
    <tr>
        <th width="50%"><h2>Latest Events</h2></th>
        <th width="50%">
        <% if (session_member){ %>
        <h2>Terraform Arena Colles!</h2>
        <% } else { %>
        <h2>Sign In</h2>
        <% } %>
        </th>
    </tr>
    <tr>
        <td><% if (events && events.length) { %>
            <ul class="event_list"><% events.forEach(function(event){ %>
                <li><a href="/events/<%- event._id %>"><%- event.title %></a>: <%- event.short %></li>
                <% }) %>
            </ul>
                <% } else { %>
                <p>None, yet...</p>
                <% } %>
        </td>
       <td>
        <% if (session_member){ %>
        <% } else { %>
       <%- login_form.render() %>
        <h3>Not a member yet?</h3>
        <a href="/join">Join Our Crew!</a>
        <% } %>
        </td>
    </tr>
</table>