*.png
/test/geo/
*.img
/resources/mola_128/
/resources/mola_16/
mola_32
/scripts/sector_files/
/node_modules/mongodb/benchmark/
/node_modules/mongodb/benchmark/grid_fs_write_benchmark.js
/node_modules/mongodb/benchmark/streaming_benchmark.js
/.idea/dictionaries/dave.xml
/resources