/test/geo/
*.img
/resources/mola_128/
/resources/mola_16/
mola_32
/scripts/sector_files/
/node_modules/mongodb/benchmark/
/node_modules/mongodb/benchmark/grid_fs_write_benchmark.js
/node_modules/mongodb/benchmark/streaming_benchmark.js
.idea/inspectionProfiles/
.DS_Store
.idea/scopes/
.idea/misc.xml
.idea/workspace.xml
resources/
unity/Mars_Terrain/Library/
unity/Mars_Terrain/Mars_Terrain-csharp.sln
unity/Mars_Terrain/Mars_Terrain.sln
unity/Mars_Terrain/Mars_Terrain.userprefs
unity/Mars_Terrain/Temp/
unity/test_build/
unity/Mars_Terrain/Assembly-CSharp-Editor-vs.csproj
unity/Mars_Terrain/Assembly-CSharp-Editor.csproj
unity/Mars_Terrain/Assembly-CSharp-Editor.pidb
unity/Mars_Terrain/Assembly-CSharp-firstpass-vs.csproj
unity/Mars_Terrain/Assembly-CSharp-firstpass.csproj
unity/Mars_Terrain/Assembly-CSharp-firstpass.pidb
unity/Mars_Terrain/Assembly-CSharp-vs.csproj
unity/Mars_Terrain/Assembly-CSharp.csproj
unity/Mars_Terrain/Assembly-CSharp.pidb
unity/Mars_Terrain/Assembly-UnityScript-firstpass-vs.pidb
unity/Mars_Terrain/Assembly-UnityScript-firstpass.unityproj
unity/Mars_Terrain/Assembly-UnityScript-vs.unityproj
unity/Mars_Terrain/Assembly-UnityScript.pidb
unity/Mars_Terrain/Assembly-UnityScript.unityproj
unity/Mars2/Library/
unity/Mars2/Temp/
unity/Mars2/Mars2-csharp.sln
unity/Mars2/Mars2.sln
unity/Mars2/Assembly-CSharp-Editor-vs.csproj
unity/Mars2/Assembly-CSharp-Editor.csproj
unity/Mars2/Assembly-CSharp-firstpass-vs.csproj
unity/Mars2/Assembly-CSharp-firstpass.csproj
unity/Mars2/Assembly-CSharp-vs.csproj
unity/Mars2/Assembly-CSharp.csproj
unity/Mars2/Assembly-CSharp.pidb
unity/Mars2/Assembly-UnityScript-firstpass-vs.unityproj
unity/Mars2/Assembly-UnityScript-firstpass.unityproj
unity/Mars2/Assembly-UnityScript-vs.unityproj
unity/Mars2/Assembly-UnityScript.unityproj
unity/Mars2/Assembly-CSharp-Editor.pidb
unity/Mars2/Assembly-CSharp-firstpass.pidb
unity/Mars2/Assembly-UnityScript-firstpass.pidb
unity/Mars2/Assembly-UnityScript.pidb