<h1>Admin</h1>
<% console.log('index.html: grants', grants) %>
<table border="1" cellpadding="2">
    <tr>
        <th>Controller</th>
        <% actions.forEach(function(a){
        %>
        <th><%- a %></th>
        <%
        })
        %>
        <th>*</th>
    </tr>
    
<%

for (var controller_name in controllers){
var controller_actions = controllers[controller_name];
%>
<tr>
    <th><%- controller_name %></th>
<% actions.forEach(function(action){ %>
        <td><%
        if (controller_actions.indexOf(action) > -1){
        %><b style="color: green">YES</b>
        <br />
        <a href="/grants/<%- action %>_<%- controller_name %>/edit" style="font-weight: bold; color: green">
        <%
           var index = action + '_' + controller_name;
    if (grants.hasOwnProperty(index)) {
        %>  Locked (<%- grants[index].roles.join(', ') %>)
        <% } else { %>
        Open
        <% } %></a>
<%
        } else { // no action /controller
        %><b style="color: red">NO</b><% } %>
        </td>
<% }); %>
<td><a href="/grants/*_<%- controller_name %>/edit" style="font-weight: bold; color: green">
<%
   var index = '*_' + controller_name;
    if (grants.hasOwnProperty(index)) {
        %>
        Locked</a>(<%- grants[index].roles.join(', ') %>)
        <% } else { %>
        Open
        <% } %>
</a>
</td>
</tr>
<% } // controllers
%>
</table>

<p>Note - for extra security remember that edit AND create must have the same security settings
the same with delete AND destroy</p>
<div class="h_button_list">
    <a href="/meta/0/add">Add A Controller</a>
</div>