<h1><%- controller %> Item ID = &quot;<%- item._id %>&quot;</h1>
<table class="scaffold_ticket">
    <% for(var param in item){ %>
    <tr>
    <th><%- param %></th>
    <td>
        <%
        var value = item[param];
        if (typeof(value) == 'object') { %>
        <pre><%- JSON.stringify(value) %></pre>
        <% } else { %>
        <%- value %>
        <% } %>
    </td>
    </tr>
    <% } %>
</table>
<div style="float: left">
    <h2>Allowed Actions</h2>
    <ul>
        <% actions.forEach(function(action){ %>
        <li><%- action %></li>
        <% }) %>
    </ul>
</div>
<br clear="all" class="clearfloat" />
<hr />
<p><a href="/<%- plural %>/<%- item._id %>/edit">Edit <%- item._id %>(<%- item.real_name %>)</a></p>
