<style>
.field_list div { width: 120px; float: left; font-size: 80%; padding: 0px;}
.field_list li { overflow: auto; width: 710px;  border: 1px solid red; margin: 2px; padding: 0px;}
.field_list div.name {width: 240px}
.field_list div.opts {width: 180px}
.field_list div.drag_icon_div {width: 20px;}
.head .label, .head .name, .head .type, .head .opts {
    border: 2px; font-weight: bold;
}
.field_list div.opts td, div.field_list div.opts th {
    font-size: 75%;
}
.field_list div.opts b {
    display: inline-block; width: 100px;
}
</style>

<h1>Edit Action &quot;<%- meta_controller %>&quot;::<%- meta_action %></h1>

<h2>Function</h2>

<pre><%- action_function %></pre>

<% if (form){ %>
<h2>Form</h2>
<dl>
    <dt>Action</dt>
    <dd><%- form.configs.action %></dd>
    <dt>Method</dt>
    <dd><%- form.configs.method %></dd>
</dl>

<ul class="field_list head">
    <li>
    <div class="drag_icon_div"><img src="/icons/blank.png" /></div>
        <div class="label">Label</div>
        <div class="name">Name</div>
        <div class="type">Type</div>
        <div class="opts">Options</div>
    </li>
</ul>
<ul class="field_list" id="sortable">
<% form.fields.forEach(function(field){%>
<li>
    <div class="drag_icon_div"><img class="drag_icon"><img src="/icons/drag-icon.png" /></div>
    <div class="label"><%- field.label %></div>
    <div class="name"><%- field.name %></div>
    <div class="type"><%- field.type %></div>
    <div class="opts"><% if(field.hasOwnProperty('options')){ %>
   <% field.options.forEach(function(option){ %>
                <b><%- option.label %></b>
                <shim><%- option.value %></shim><br />
    <%  }); %>
    <% } %></div>
</li>
<% }) %>    
</ul>
<script language="javascript">
$(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
});
</script>
<% } %>