h1, h2, h3, h4, h5 {
	font-weight: bold;
	font-size: 200%;
}

h2 {
	font-size: 180%;
}

h3, h4, h5 {
	font-size: 100%;
}

.clearfloat { 
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
    }
    
.button,
button,
input[type=button],
input[type=submit] {
background-image: url(/theme/buttons/button.png);
background-repeat: repeat-x;
background-position: center;
border: 1px solid rgb(0, 25, 125);
background-color: white;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
font-family: Helvetica, Arial, sans-serif;
font-weight: bold;
text-align: center;
min-width: 10em;
padding: 0.5em;
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
background-image: url(/theme/buttons/button_hover.png);
background-color: rgb(204, 225, 255);
border-color: rgb(25, 50, 160);
}

input, textarea{
    width: 20em;
    padding: 0.5em;
    background-image: url(/theme/inputs/input.png);
    background-repeat: repeat-x;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid black;
    margin-bottom: 0.5em;
}

label {
font-family: Helvetica, Arial, sans-serif;
font-weight: bold;
}

.check_boxes label,
.radio_buttons label {
display: block;
min-width: 10em;
font-weight: bold;
color: rgb(100, 0, 0);
}

.radio_buttons input,
.check_boxes input {
width: auto;
background-image: none;
margin-right: 1em;
}

input:hover, textarea:hover {
    background-image: url(/theme/inputs/input_hover.png);
}

form th {
min-width: 5em;
text-align: right;
font-weight: bold;
padding: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: rgb(102, 102, 51);
}

table.grid {
	border: 1px solid black;
	border-bottom: 2px solid black;
}
table.grid th,
table.grid td {
	font-size: 80%;
	padding: 1em;
	border : 1px solid black;
	vertical-align: middle;
	white-space: nowrap;
}

table.grid th {
	background-color: rgb(225, 225, 255);
	font-weight: bold;
	border-right: none;
}

