<h1>Admin: Members</h1>

<table class="list members_list">
    <tr><th>Alias</th>
        <th>Real Name</th>
        <th>Email Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
    </tr>
    
    <% members.forEach(function(member){ %>
    <tr>
        <td><%- member._id %></td>
        <td><%- member.real_name %></td>
        <td><%- member.email %></td>
        <td><%- member.home_city %></td>
        <td><%- member.home_state %></td>
        <td><%- member.home_country %></td>
        <td><a href="/members/<%- member._id %>/admin/edit" class="button edit">Edit</a>
    </tr>
    <% }) %>
    
</table>