<%
[
    { prefix: '/js',
    libs: ['underscore']
    },
    { prefix: '/js/3/build',
      libs: ['Three']
    },
    { prefix: '/js/3',
      libs: ['Detector',  'RequestAnimationFrame', 'Stats']
    },
        {prefix: '/js/map/MARS_ANI',
        libs: ['index','animate', 'config', 'Planet', 'init']
        }
] .forEach(function(libset){
        console.log(libset);
     libset.libs.forEach(function(lib){
        console.log(lib);
        js_paths.push(libset.prefix + '/' + lib + '.js');
    });
});

console.log('paths: ', js_paths.join(','));

%>

<h1><%= map.name %></h1>


<script language="javascript">
    $(function(){init(); MARS_ANI.animator.animate();});
</script>

<div id="threeD" style="width: 800px; height: 800px; background-color: white;">
</div>