<%

[
    { prefix: '/js',
    libs: ['underscore']
    },
    { prefix: '/js/3',
      libs: ['build/Three', 'extras/ImageUtils', 'RequestAnimationFrame']
    },
    { prefix: '/js/map/MARS_ANI',
      libs: ['index', 'Ani_Queue', 'materials', 'create_cube', 'animate', 'init']
    }
] .forEach(function(libset){
        console.log(libset);
     libset.libs.forEach(function(lib){
        console.log(lib); 
        js_paths.push(libset.prefix + '/' + lib + '.js');
    });
});

console.log('paths: ', js_paths.join(','));

%>

<h1><%= map.name %></h1>

<div id="threeD" style="width: 400px; height: 300px; background-color: black;">
</div>

<script language="javascript">
    $(init);
</script>