<h1>Map of &quot;<%- map.name %>&quot;</h1>
        <link rel="stylesheet" href="/map/css/show.css" /> 
<dl>  
    <dt>Height:</dt>
    <dd><%- map.lat %> divisions (<%- Math.round(parseInt(map.lat)/18, 2)/10 %> units/&deg;)</dd>
    
    <dt>Width: </dt>
    <dd><%- map.long %> divisions (<%- Math.round(parseInt(map.long)/36, 2)/10 %> units/&deg;)</dd>
</dl>
<p><a href="/maps/<%- map._id %>/gen_coords">Generate Coordinates</a></p>
<p><a href="/maps/<%- map._id %>/zoom_back">Zoom Back</a></p>

<form onsubmit=" return tile(this)">
    <table>
        <tr>
            <th>Lat</th>
            <td><input name="lat" id="lat" type="text" value="0" /></td>
        </tr>
        <tr>
            <th>Long</th>
            <td><input name="long" id="long" type="text" value="0" /></td>
        </tr>
        <tr><th>&nbsp;</th>
            <td><input type="submit" value="View">
    </table>
    
</form>

<div id="point_counts" style="float: right" border="2">
    <h2>Point Counts</h2>
    <table>
        <tr>
            <td><%= JSON.stringify(point_count) %></td>
        </tr>
    </table>

<div id="tiles">
    
    
</div>
<script language="javascript">
    function on_tile(data) {
        console.log('tiles found: ', data);
        $('#tiles').html(data);    }

    function tile(f) {
        console.log('tile: form', f);
        try {
            var lat = $('#lat').val();
            var lon = $('#long').val();
        } catch (e) {
            console.log(e);
        }

        console.log('lat: ', lat, ', lon: ', lon);

        var url = '/maps/<%- map._id %>/tile/' + lon + '/' + lat;
        $.get(url, on_tile);
        return false;
    }
</script>