<table class="st">
<tr>
    <td><%= p %></td>
    <td><%= tile._id %></td>
    <td><%= tile.data_file.image_file %></td>
</tr>
<tr><td colspan="3">
<p><b>North</b>: <%= tile.north %>&deg;
<b>South</b>: <%= tile.south %>&deg;
<b>East</b>: <%= tile.east %>&deg;
<b>West</b>: <%= tile.west %>&deg;
</p>
    <table id="sectors_table">
        <tr>
            <th>i \ j</th>
            <% for (var j = 0; j < tile.index.cols_per_sector; ++j) { %>
            <td><%= j %></td>
            <% } %>
        </tr>
        <% for (var i = 0; i < tile.index.rows_per_sector; ++i){ %>
        <tr><th><%= i %></th>
            <% for (var j = 0; j < tile.index.cols_per_sector; ++j) { %>
            <td nowrap="nowrap"><%= tile.index.i_to_degree(i, true) %> .. <%= tile.index.i_to_degree(i + 1, true) %>&deg lat, <br />
        <%= tile.index.j_to_degree(j, true) %>...<%= tile.index.j_to_degree(j + 1, true) %>&deg long</td>        <% } %></tr>
        <% } %>
    </table>
</td></tr>
</table>