<%

function diff_deg(a, b){
a += 360;
b += 360;
var diff = Math.abs(a - b);
if (diff > 180) {
diff = 360 - diff;
}
return diff;
}
%>
<h1>Map of &quot;<%- map.name %>&quot;</h1>

<!-- img src="<%= map.path %>" width=800 height=400 / -->

        <link rel="stylesheet" href="/map/css/show.css" /> 
<dl>  
    <dt>Height:</dt>
    <dd><%- map.lat %> divisions (<%- Math.round(parseInt(map.lat)/18, 2)/10 %> units/&deg;)</dd>
    
    <dt>Width: </dt>
    <dd><%- map.long %> divisions (<%- Math.round(parseInt(map.long)/36, 2)/10 %> units/&deg;)</dd>
</dl>
<p><a href="/maps/<%- map._id %>/gen_sectors">Generate Sectors</a></p>
<p><a href="/maps/<%- map._id %>/analyze">Analyze Brightness</a></p>
<!-- p><a href="/maps/<%- map._id %>/zoom_back">Zoom Back</a></p -->

<p><a href="/maps/<%- map._id %>/zoom_in">Zoom In(<%= map.zoom %> )</a></p>

<form onsubmit=" return tile(this)">
    <table>
        <tr>
            <th>Lat</th>
            <td><input name="lat" id="lat" type="text" value="0" /></td>
        </tr>
        <tr>
            <th>Long</th>
            <td><input name="long" id="long" type="text" value="0" /></td>
        </tr>
        <tr><th>&nbsp;</th>
            <td><input type="submit" value="View">
    </table>
    
</form>

<div id="tiles">
    
</div>

<script language="javascript">
    function on_tile(data) {
        console.log('tiles found: ', data);
        $('#tiles').html(data);    }

    function tile(f) {
        console.log('tile: form', f);
        try {
            var lat = $('#lat').val();
            var lon = $('#long').val();
        } catch (e) {
            console.log(e);
        }

        console.log('lat: ', lat, ', lon: ', lon);

        var url = '/maps/<%- map._id %>/tile/' + lon + '/' + lat;
        $.get(url, on_tile);
        return false;
    }
</script>
<style>
.lat { background-color: #CCC;}
.st td, .st th {
    padding: 0.5em;
    border: 1px solid black;
}
</style>
<table class="st">
    <tr>
        <th>Sector ID</th>
        <th>&nbsp;</th>
        <th>Min Lat</th>
        <th>Max Lat</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>East Long</th>
        <th>West Long</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Rows</th>
        <th>Cols</th>
        <th>pixels/&deg; x</th>
        <th>pixels/&deg; y</th>
    </tr>
    <% sectors.forEach(function(sector){
    %>
    <tr>
        <td><% if (sector.parsed){ %>
        <b><%= sector._id %></b>
        (<a href="/maps/<%= map._id %>/parse_rows/<%= sector._id %>" >Redo</a>)
        <% } else { %>
            <a href="/maps/<%= map._id %>/parse_rows/<%= sector._id %>" >
            <%= sector._id %>
        </a>
        <% } %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td class="lat"><%= sector.min_lat %>&deg;</td>
        <td class="lat"><%= sector.max_lat %>&deg;</td>
        <td><b><%= diff_deg(sector.min_lat, sector.max_lat) %>&deg;</b></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= sector.east_long %>&deg;</td>
        <td><%= sector.west_long %>&deg;</td>
        <td><b><%= diff_deg(sector.east_long, sector.west_long) %>&deg;</b></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= sector.rows %></td>
        <td class="lat"><%= sector.cols %></td>
        <td><%= Math.round(sector.cols/diff_deg(sector.east_long, sector.west_long)) %> </td>
        <td class="lat"><%= Math.round(sector.rows /diff_deg(sector.min_lat, sector.max_lat)) %></td>
    </tr>
    <%
    })
    %>
</table>