<h1><%- controller %> Item ID = &quot;<%- item._id %>&quot;</h1>

<table class="scaffold_ticket">
    <% for(var param in item){ %>
    <tr>
    <th><%- param %></th>
    <td>
        <%
        var value = item[param];
        if (typeof(value) == 'object') { %>
        <pre><%- JSON.stringify(value) %></pre>
        <% } else { %>
        <%- value %>
        <% } %>
    </td>
    </tr>
    <% } %>
</table>
<hr />
<p><a href="/<%- plural %>/<%- item._id %>/edit">Edit</a></p>
<p><small>
    This is a scaffolding page. For a custom view, create an <tt>index.html</tt> file in <tt>views/<%- controller %></tt>.
</small></p>

