
    <h1>Map: <%= item.map %> :: Scaffold ID = "<%- item._id %>" row(i): <%= sector.i %>), col(j): <%= sector.j %>)</h1>
<%
var north = tileset.i_to_degree(sector.i);
var south = tileset.i_to_degree(1 + sector.i);
var east = tileset.j_to_degree(sector.j);
var west = tileset.j_to_degree(sector.j + 1);
%>
<p>Sector Rows Per Sector: <%= tileset.rows_per_sector %></p>
<p>Sector Cols Per Sector: <%= tileset.cols_per_sector %></p>

    <div id="compass" style="width: 400px">
        <div class="north">
            <b>North</b>: <%= item.north %>(<%= north %>) </div>
                            
                             
                            <div class="east" style="float: right; clear: right;">
                                <b>East</b>: <%= item.east %> (<%= east %>)
        </div>

        <div class="west">
            <b>West</b>: <%= item.west %> (<%= west %>)
        </div>

        <div class="south">
            <b>South</b>: <%= item.south %> (<%= south %>)
        </div>
    </div>

<h2>Tile</h2>

<p><b>Rows</b>: <%= tile.rows %> (<%= tile.rows / 512 %>)</p>
<p><b>Cols</b>: <%= tile.cols %> (<%= tile.cols / 512 %>)</p>

    <div id="compass" style="width: 400px">
        <div class="north">
            <b>North</b>: <%= tile.north %> </div>
                            
                             
                            <div class="east" style="float: right; clear: right;">
                                <b>East</b>: <%= tile.east %> 
        </div>

        <div class="west">
            <b>West</b>: <%= tile.west %> 
        </div>

        <div class="south">
            <b>South</b>: <%= tile.south %> 
        </div>
    </div>
    
    <h2>Color Image</h2>
    
    <img src="/map_sectors/image/<%= sector._id %>.png" width="512" height="512" />
    
    <h2>Height Image</h2>
    
    <img src="/map_sectors/height/<%= sector._id %>.png" width="512" height="512" />
    
    <h2>Slope Image</h2>
    
    <img src="/map_sectors/slope/<%= sector._id %>.png" width="512" height="512" />