<form id="add_task" name="add_task" method="post" action="<%- action %>">
    <input type="hidden" name="task[_id]" value="<%- task ? task._id.toString() : '' %>" />
    <div class="ui-widget">
        <div class="ui-widget-header" style="text-align: center">
           <%- task ? 'Edit Task ' + task.title + '(' + task.key + ')' :  'Add a new task' %>
        </div>
        <div class="ui-widget-content" style="padding: 1em">
            <table width="500" border="0" cellspacing="0" cellpadding="0" class="form_frame">
                <tr>
                    <th scope="col" class="ui-widget-header" >Parent</th>
                    <td scope="col" class="ui-state-default"><select name="task[parent]" id="parent">
                        <option value="">(top level)</option>
                        <% parents.forEach(function(parent){ %>
                        <option value="<%= parent._id.toString() %>" <%= task.parent && (parent._id.toString() == task.parent._id.toString()) ? 'selected="selected" ' : '' %> ><%= parent.title %>(<%= parent.key %>)</option>
                        <% }) %>
                    </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="ui-widget-header" >Type</th>
                     <td scope="col" class="ui-state-default"><label><input type="radio" name="task[type]" value="action"
                         <%- ( task && task.type == 'action') ? ' checked="checked" ' : '' %>  />Action</label><br />
                         <label><input type="radio" name="task[type]" value="subject"
                         <%- task ? ((  task.type == 'subject') ? ' checked="checked" ' : '') : ' checked="checked" ' %>   />Subject</label>
                            </td>
                </tr>
                <tr>
                    <th scope="row">Key</th>
                    <td scope="col" class="ui-state-default"><input type="text" name="task[key]" id="key"
                               value="<%- task ? task.key : '' %>"
                            /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="title">Title</label></th>
                    <td scope="col" class="ui-state-default"><input type="text" name="task[title]" id="title"
                               value="<%- task ? task.title : '' %>"
                            /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="notes">Notes</label></th>
                    <td><textarea name="task[notes]" id="notes" cols="45" rows="3"><%- task ? task.notes : ''
                        %></textarea></td>
                </tr>
                <tr>
                    <th scope="row">&nbsp;</th>
                    <td><input type="submit" name="submit" id="add_task_submit"
                               value="<%- task ? 'Update' : 'Create' %> Task"/></td>
                </tr>
            </table>
        </div>
    </div>
</form>

<script language="javascript">
    $(function () {
        $('#add_task_submit').button({text:false, icons:"ui-icon-search"});

    });
</script>