
.button,
button,
input[type=button],
input[type=submit] {
border-image: url(/theme/buttons/button.png) 4 4 4 4 stretch;
-webkit-border-image: url(/theme/buttons/button.png) 4 4 4 4 stretch;
-moz-border-image: url(/theme/buttons/button.png) 4 4 4 4 stretch;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
font-family: Helvetica, Arial, sans-serif;
font-weight: bold;
text-align: center;
min-width: 10em;
padding: 0.5em;
}
