

input {
    width: 10em;
    padding: 0.5em;
    background-image: url(/theme/inputs/input.png);
    background-repeat: repeat-x;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid black;
}