<h1>Map Image <%= mapimage._id %></h1>

<%
var i = -1;
var tcount = 1;
%>

<h2>Tile Grid</h2>

<table class="grid">
    <tr>
        <th>count</th>
        <th>I</th>
        <th>J</th>
        <th>ID</th>
        <th>Image ID</th>
    </tr>
    <% tiles.forEach(function(tile){ %>
    <% if (i != tile.tile_i ) {
    i = tile.tile_i;
    %>

    <tr>
        <td colspan="20"><h2><%= tile.tile_i %> ROW</h2></td>
    </tr>

    <% } %>

    <tr>
        <th>
            <%= tcount++ %>
        </th>

        <td><%= tile.tile_i %></td>
        <td>x <%= tile.tile_j %></td>
        <td><%= tile._id %></td>
        <td><%= tile.image %></td>
    </tr>
    <% } ) %>
    <tr><td><%= mapimage.rows * mapimage.cols / (128 * 128) %></td><td>expected</td></tr>
</table>